@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine.scss";

@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

@font-face {
  font-family: "Noto Color Emoji";
  src: url("../assets/fonts/NotoColorEmoji-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "EmojiMart";
  src: url("../assets/fonts/NotoColorEmoji-Regular.ttf") format("truetype");
}

// decare the font family variables
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  "Noto Color Emoji", sans-serif;

body {
  margin: 0;
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

em-emoji-picker {
  --border-radius: 0;
}
